.auto-form {
  margin-top: 20px;
  display: flex;
  flex: 1;
  flex-direction: column;
  &__buttons {
    position: sticky;
    bottom: 15px;
    display: flex;
    align-self: flex-end;
  }
  .dx-item {
    .dx-invalid {
    }
  }
}

.dx-form {
  .dx-item {
    .dx-box-item-content {
      font-size: 12px;
      .dx-form-group {
        .dx-form-group-caption {
          font-size: 15px;
          display: flex;
          background-color: #d4d9e3;
          padding: 5px;
        }
        .dx-form-group-content {
          padding-bottom: 5px;
          padding-top: 0;
          margin-top: 0;
          border: 1px solid #ddd;
          padding: 5px;
        }
      }
      .dx-field-item {
        align-items: center;
        padding-top: 2px;
        .dx-field-item-label {
          max-width: 150px;
          min-width: 150px;
          display: flex;
          align-self: flex-end;
          padding-bottom: 5px;
          .dx-field-item-label-content {
            width: auto !important;
            line-height: 0.9;
            .dx-field-item-label-text {
              white-space: normal;
            }
          }
          .dx-icon {
            margin-left: 5px;
            cursor: pointer;
            opacity: 0.5;
          }
        }
        .dx-texteditor {
          background: none;
          border: none;
          border-bottom: 1px solid #d4d4d4;
          border-radius: 0;
          font-size: 12px;
          height: 26px;
          input {
            min-height: inherit;
            height: 26px;
            padding: 0;
          }
        }
      }
    }
  }
}
