@import '../../styles/variables';

.dx-datagrid {
  font-size: rem(12);

  .dx-texteditor-container {
    input {
      height: rem(26);
      min-height: inherit;
      font-size: rem(12);
    }
  }
}
