{
  "presets": ["@babel/env", "@babel/react"],
  "plugins": [
	[
	  "transform-assets",
	  {
		"extensions": [
		  "png",
		  "mp4",
		  "jpg",
		  "less",
		  "css",
		  "svg"
		],
		"name": "assets/[name].[ext]"
	  }
	],
	"inline-react-svg",
  ]
}
