@import '../../styles/variables';

.login {
  .float-label {
    margin-bottom: 0.9rem;
  }

  &__submit {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    margin-top: rem(15);
    margin-bottom: rem(10);

    & > .dx-button-content {
      padding: rem(10) rem(18) rem(8);
    }
  }

  &__reg {
    text-decoration: none;
    display: flex;
    flex: 1;
    justify-content: center;
    margin: rem(15) 0 rem(10);
  }
}
