@import '../../styles/variables';

.ph-button {
  .dx-button-content {
    padding: rem(7) rem(18) rem(8);
  }

  &.icon {
    .dx-button-content {
      padding: rem(8);
    }
  }

  .button-indicator {
    height: rem(18);
    width: rem(18);
    display: inline-block;
    vertical-align: middle;
    margin-right: rem(5);
  }
}
