.ph-button {
  &.icon {
    .dx-button-content {
      padding: 8px;
    }
  }
  .dx-button-content {
    padding: 7px 18px 8px;
  }
  .button-indicator {
    height: 18px;
    width: 18px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
  }
}
