@import '../../styles/variables';

.card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: rem(3);
  border: rem(1) solid #cfcfcf;
  box-shadow: 0 rem(1) rem(4) 0 rgb(0 0 0 / 10%);

  &__container {
    display: flex;
    flex: 1;

    &_column {
      flex-direction: column;

      .card + .card {
        margin-top: rem(15);
      }
    }

    &_row {
      flex-direction: row;
    }
  }

  &__body {
    padding: rem(10) rem(20);
    position: relative;
    overflow: auto;
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  &_flex1 {
    flex: 1;

    .card__body {
      flex: 1;
    }
  }

  &__header {
    color: #656565;
    background-color: #fafafa;
    font-size: rem(16);
    padding: rem(10) rem(20);
    border-bottom: rem(1) solid #ebebeb;

    .back-link {
      display: flex;
      justify-content: space-between;

      .link {
        font-size: rem(16);
      }
    }
  }

  &_no-body-padding {
    .card__body {
      padding: 0;
    }
  }

  &_max-height {
    position: relative;
    padding-bottom: rem(20);
  }
}
