@import '../../styles/variables';

.date-range {
  position: relative;

  .card__body {
    padding: 0;
  }

  .rdp-months {
    flex-wrap: nowrap;
  }

  &__label {
    margin-right: rem(5);
  }

  input {
    padding: 0.3em 0.5em;
    border: rem(1) solid #ddd;
    font-size: rem(14);
    color: #656565;
    text-align: center;
    font-weight: 400;

    @media (max-width: $mobile-max-width) {
      width: rem(120);
    }
  }
}
