@import '../../styles/variables';

.header {
  display: flex;
  padding: rem(10) 0 rem(10) rem(10);
  justify-content: space-between;
  color: #242424;
  min-height: rem(36);

  &_no-children {
    justify-content: flex-end;
  }

  .dx-button {
    height: rem(36);
  }
}
