@import '../../styles/variables';

.loading {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 555;
  text-align: center;
  background: hsl(0deg 0% 100% / 70%);

  &-container {
    position: relative;
    min-height: rem(60);
  }

  & > div {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
