@import "../../styles/variables";

.page_secure {
  padding-left: 200px;
  transition: padding-left 0.4s;
  &_lg {
    padding-left: 60px;
  }
  &__content {
    padding-right: 20px;
    padding-bottom: 45px;
    display: flex;
    flex-direction: column;
    flex: 1;
    @media (max-width: $mobileMaxWidth) {
      padding-right: 10px;
    }
    & > .header {
      @media (max-width: $mobileMaxWidth) {
        padding-left: 40px;
      }
    }
  }
  @media (max-width: $mobileMaxWidth) {
    padding-left: 10px;
  }
}
