@import '../../styles/variables';

.page__secure {
  padding-left: rem(200);
  transition: padding-left 0.4s;

  &_lg {
    padding-left: rem(60);
  }

  &__content {
    padding-right: rem(20);
    padding-bottom: rem(45);
    display: flex;
    flex-direction: column;
    flex: 1;

    @media (max-width: $mobile-max-width) {
      padding-right: rem(10);
    }

    & > .header {
      @media (max-width: $mobile-max-width) {
        padding-left: rem(40);
      }
    }
  }

  @media (max-width: $mobile-max-width) {
    padding-left: rem(10);
  }
}
